@font-face {
    font-family: 'Italianno';
    src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-style: normal;
}
body {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: #8c882c;
     background:  linear-gradient(to left, rgba(102, 64, 8, 0.06) 18.12%, rgba(13, 12, 12, 0.66) 100.6%, rgba(13, 12, 12, 0.9) 15.83%);

}
*,
*:before,
*:after {
  
}

.background {
 position: absolute;
width: 640px;
height: 720px;
left: 840px;
top: 0px;
    background:url(%D0%BA%D0%B0%D1%84%D0%B5.png);
    background-size: cover;
    
}

.btn {
  display: block;
    width: 500px;
    padding: 10px 30px;
    margin-top: 200px;
    border: 3px solid #000;
    margin-left: 558px;
    font-size: 22px;
    font-weight: 150;
    color: white;
    text-decoration: none;
     border-radius: 9px;
    text-decoration-color: red;
    transition: .1s linear, color .1s linear;
    text-align: center;
    background: #000;
    
}
.btn:hover {
    background-color:white;
    color: #000;
}



